/* Mobile Devices (Phone & Tablets) */
@media(max-width: 991px) {
    nav {
        padding: 0 2rem;
    }

    .nav-logo {
        padding: 1rem 0;
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 4.5rem;
        flex-direction: column;
        width: 100%;
        background: #fff;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        padding: 0;
        width: 100%;
        border-top: 1px solid var(--gray-200);
    }

    .nav-link {
        padding: 1rem;
        text-align: center;
    }

    .nav-link:hover {
        background: var(--gray-200);
    }

    .nav-link:focus {
        background: var(--gray-300);
    }

    .nav-link.active {
        background: var(--primary-700);
        color: #fff;
    }

    .nav-link::after {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

/* Mobile Phone */
@media(max-width: 767px) {

    /* Hero Section */
    .hero-btn-container {
        flex-direction: column-reverse;
        padding: 2rem;
        row-gap: 1rem;
    }

    .main-hero button {
        width: 100%;
    }

    .social-proof-logos {
        justify-content: center;
    }

    .social-proof-item {
        padding: 1rem 0;
        width: 50%;
    }

    .social-proof-item img {
        margin: 0 auto;
    }

    /* Features Section */
    .feature-content,
    .feature-image {
        width: 100%;
        align-items: flex-start;
        min-height: auto;
    }

    .feature-wrap,
    #section1 .feature:nth-child(odd) .feature-wrap {
        flex-direction: column;
        row-gap: 2rem;
    }

    .feature-image .img-right,
    .feature-image .img-left {
        display: none;
    }

    .feature-image .img-full {
        display: block;
    }

    /* Integrations Section */
    .integration-logos {
        gap: 0.5rem;
    }

    /* Benefits Section */
    .benefits-stats {
        flex-direction: column;
    }

    .stat-box {
        width: 100%;
        padding: 2rem 0;
    }

    .stat-box:nth-child(2) {
        border-top: 1px solid var(--gray-200);
        border-bottom: 1px solid var(--gray-200);
        border-left: 0;
        border-right: 0;
    }

    .free-trial-box {
        flex-direction: column;
        row-gap: 1rem;
    }

    .free-trial-action,
    .free-trial-action button {
        width: 100%;
    }
}

/* Tablet */
@media(max-width: 991px) and (min-width: 768px) {

    /* Hero Section */
    .social-proof-item {
        padding: 1rem 0;
        width: 33%;
    }

    .social-proof-logos {
        justify-content: center;
    }

    .social-proof-item img {
        margin: 0 auto;
    }

}