/* Mobile Phone */
@media(max-width: 767px) {
    nav {
        padding: 0 2rem;
    }

    .nav-logo {
        padding: 2rem 0;
    }

    .nav-list {
        position: fixed;
        left: -100%;
        top: 5.3rem;
        flex-direction: column;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-list.active {
        left: 0;
    }

    .nav-item {
        padding: 0;
        width: 100%;
        border-top: 1px solid var(--gray-200);
    }

    .nav-link {
        padding: 1rem;
        text-align: center;
    }

    .nav-link:hover {
        background: var(--gray-200);
    }

    .nav-link:focus {
        background: var(--gray-300);
    }

    .nav-link.active {
        background: var(--primary-700);
        color: #fff;
    }

    .nav-link::after {
        display: none;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Tablet */
@media(max-width: 991px) and (min-width: 768px) {}